.blurred {
  filter: blur(8px);
  cursor: not-allowed;
}

.ukraine-footer {
  max-width: 700px;
  min-height: 40px;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  transform: translate(-50%; -50%);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  z-index: 99;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.ukraine-footer > div {
  padding: 0 1rem;
}
