.blurred {
  filter: blur(2px);
}

.palestine-footer {
  max-width: 700px;
  min-height: 40px;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  transform: translate(-50% -50%);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 999999999;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.palestine-footer > div {
  padding: 0 1rem;
}

.palestine-footer a {
  color: #64b5f6 !important;
  text-decoration: underline;
}

.close-button {
  width: 20%;
  font-size: 12px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.close-button:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
